.loading {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  width          : 100%;
}

.spinner {
  transform: scale(0.75);
}

.content {
  margin: 1rem 0;
}
