@import '~@angular/material/theming';

$zhihu-primary: mat-palette($mat-blue);
$zhihu-accent : mat-palette($mat-pink, A200, A100, A400);

$zhihu-warn: mat-palette($mat-red);

$zhihu-theme: mat-light-theme((color: (primary: $zhihu-primary,
      accent: $zhihu-accent,
      warn: $zhihu-warn,
    )));

@include angular-material-theme($zhihu-theme);

$custom-typography: mat-typography-config($font-family: '"Fira Code", "Microsoft Yahei", "PingFangSC-Regular", sans-serif',
  $display-4: mat-typography-level(112px, 112px, 300),
  $display-3: mat-typography-level(56px, 56px, 400),
  $display-2: mat-typography-level(45px, 48px, 400),
  $display-1: mat-typography-level(34px, 40px, 400),
  $headline: mat-typography-level(24px, 32px, 400),
  $title: mat-typography-level(20px, 32px, 500),
  $subheading-2: mat-typography-level(16px, 28px, 400),
  $subheading-1: mat-typography-level(14px, 24px, 400),
  $body-1: mat-typography-level(13px, 20px, 400),
  $body-2: mat-typography-level(13px, 24px, 500),
  $caption: mat-typography-level(10px, 20px, 400),
  $button: mat-typography-level(13px, 12px, 500),
  $input: mat-typography-level(inherit, 1.125, 400));

@include mat-core($custom-typography);

mat-form-field {

  mat-label {
    display        : flex;
    flex-direction : row;
    justify-content: flex-start;
    align-items    : center;

    >.icon {
      margin-right: 0.5rem;
    }
  }

}

.no-border {
  .mat-form-field-outline {
    color: #00000000;
  }

  .mat-form-field-suffix {
    display       : flex;
    flex-direction: column;
  }
}

.no-padding {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}
