<div class="container">

  <div class="question">
    <ng-container *ngIf="question; else questionLoadingTemplate">
      <div class="tags">
        <span class="tag" *ngFor="let tag of question.tags">{{ tag }}</span>
      </div>
      <h2 class="title">{{ question.title }}</h2>
      <p class="content">{{ question.content }}</p>
      <div class="count">
        <span>{{ question.count.visit | readify }}浏览</span>
        <span>{{ question.count.answer | readify }}回答</span>
        <span>{{ question.count.like | readify }}喜欢</span>
      </div>
    </ng-container>
    <ng-template #questionLoadingTemplate>
      <app-loading [height]="'30vh'">正在加载问题详情...</app-loading>
    </ng-template>
  </div>

  <div class="filter">
    <span class="title">回答 {{ question && question.count.answer || 0 }}</span>
    <app-switch (value)="getFetchType($event)"></app-switch>
  </div>

  <div class="answer">
    <ng-container *ngIf="answers && answers.length; else answerLoadingTemplate">
      <app-question-answer-card *ngFor="let answer of answers; trackBy: trackByAnswerId" [answer]="answer">
      </app-question-answer-card>
    </ng-container>
    <ng-template #answerLoadingTemplate>
      <app-loading [height]="'70vh'">正在加载回答列表...</app-loading>
    </ng-template>
  </div>

</div>
