.card {

  padding         : 1rem;
  background-color: white;

  >.user {
    display       : flex;
    flex-direction: row;
    align-items   : center;

    >.head {
      width        : 1.25rem;
      height       : 1.25rem;
      border-radius: 50%;
    }

    >.name {
      font-weight: bold;
      margin     : 0 0.5rem;
      color      : #585858;
    }

    >.motto {
      color      : gray;
      font-weight: lighter;
    }
  }

  >.images {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : flex-end;
    width          : 100%;
    height         : 5rem;
    margin-top     : 0.5rem;

    >.image {
      background-size    : cover;
      background-repeat  : no-repeat;
      background-position: top;
      height             : 100%;
      flex-grow          : 1;

      &:not(:first-child) {
        margin-left: 0.05rem;
      }

      &:not(:last-child) {
        margin-right: 0.05rem;
      }
    }

    >.more {
      position: relative;
    }

    >.more::after {
      display         : flex;
      flex-direction  : column;
      justify-content : center;
      align-items     : center;
      color           : white;
      font-weight     : bold;
      font-size       : large;
      content         : "+"attr(data-more);
      height          : 100%;
      width           : 100%;
      background-color: #00000099;
      position        : absolute;
      top             : 0;
      left            : 0;
    }
  }

  >.content {
    margin            : 0.5rem 0;
    overflow          : hidden;
    text-overflow     : ellipsis;
    display           : -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  >.count {
    color      : gray;
    font-weight: lighter;
    font-size  : smaller;

    >span:not(:first-child) {
      margin-left: 0.5rem;
    }

    >span:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

}
