.container {

  >.question {
    background-color: white;
    margin-bottom   : 0.5rem;
    padding         : 0.5rem 1rem;

    >.title {
      font-weight  : bold;
      margin-bottom: 0.5rem;
    }

    >.count {
      color      : gray;
      font-weight: lighter;
      font-size  : smaller;

      >span:not(:first-child) {
        margin-left: 0.5rem;
      }

      >span:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }

  >.answer {
    background-color: white;
    padding         : 0.5rem 1rem;

    >.user {
      display       : flex;
      flex-direction: row;
      align-items   : center;
      margin        : 1rem 0;

      >.head {
        width        : 2.5rem;
        height       : 2.5rem;
        border-radius: 50%;
        margin-right : 1rem;
      }

      >.text {
        display       : flex;
        flex-direction: column;

        >.name {
          font-weight: bold;
          color      : #585858;
        }

        >.motto {
          color        : gray;
          font-weight  : lighter;
          overflow     : hidden;
          text-overflow: ellipsis;
          white-space  : nowrap;
        }
      }
    }

    >.approve {
      color    : gray;
      font-size: smaller;
    }

    >.content {
      margin        : 0.5rem 0;
      letter-spacing: 0.05rem;
      text-align    : justify;
    }

    >.date {
      color    : gray;
      font-size: smaller;
      margin   : 0;
    }
  }

  >.action {
    position        : sticky;
    bottom          : -0;
    left            : 0;
    width           : calc(100vw - 0.5rem * 2);
    background-color: white;
    padding         : 0.4rem 0.5rem;
    margin          : 0 -1rem;
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;

    button {
      -webkit-tap-highlight-color: rgba(18, 18, 18, 0);
      font                       : inherit;
      outline                    : none;
      appearance                 : none;
      margin                     : 0;
      display                    : inline-block;
      font-size                  : 14px;
      line-height                : 32px;
      text-align                 : center;
      cursor                     : pointer;
      border                     : 0;
      border-radius              : 3px;
      padding                    : 0 10px;
      color                      : #06f;
      border-color               : transparent;
      background-color           : #0066ff26;
      transition                 : all 0.15s ease-in-out;

      >svg {
        margin: 0 0.25rem;
      }

      >.text {
        margin-left: 0.5rem;
      }
    }

    button:active,
    button.active {
      background-color: #0066ff;
      color           : white;
    }

    >.buttons {
      width: fit-content;

      >:not(:first-child) {
        margin-left: 0.2rem;
      }

      >:not(:last-child) {
        margin-right: 0.2rem;
      }
    }

    // >.comment {}
  }

}
