<ng-container *ngIf="type === 'custom'">
  <ng-content></ng-content>
</ng-container>

<ng-container *ngIf="type === 'action'">
  <div class="action">
    <button mat-icon-button [disabled]="disabled" [routerLink]="[ back ]">
      <i class="icon ri-arrow-left-line"></i>
    </button>
    <button mat-icon-button [disabled]="disabled" [routerLink]="[ '/search' ]">
      <i class="icon ri-search-eye-line"></i>
    </button>
  </div>
</ng-container>

<ng-container *ngIf="type === 'home'">
  <div class="search">
    <app-search [disabled]="true" [routerLink]="[ '/search' ]"></app-search>
    <button mat-icon-button [routerLink]="[ '/user' ]">
      <i class="icon ri-user-line"></i>
    </button>
  </div>
</ng-container>

<ng-container *ngIf="type === 'search'">
  <div class="search">
    <app-search #input (enter)="action._elementRef.nativeElement.click()"></app-search>
    <button #action mat-icon-button (click)="search && search(input.value)">
      <i class="icon ri-search-2-line"></i>
    </button>
  </div>
</ng-container>
